/* TITULO ANTES DE LAS CAJAS */
.Titulo-Boxes{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}


/* Ajustar cajas */

.cajas{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 80px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.cajas p{
    font-size: 20px;
}

/* Caja 1 */
.caja1{
    padding: 20px;
    background-color: hsl(35, 92%, 51%, 0.5);
    border-radius: 15px 15px 15px 15px;
}

.caja1 img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.caja1 h3{
    display: flex;
    justify-content: center;
    font-size: 40px
}

.caja1 p{
    font-size: 27px;
    font-weight: 700;
}

/* Caja 2 */
.caja2{
    padding: 20px;
    background-color: hsl(35, 92%, 51%, 0.5);
    border-radius: 15px 15px 15px 15px;
}

.caja2 img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.caja2 h3{
    display: flex;
    justify-content: center;
    font-size: 40px
}

.caja2 p{
    font-size: 27px;
    font-weight: 700;
}


/* Caja 3 */
.caja3{
    padding: 20px;
    background-color: hsl(35, 92%, 51%, 0.5);
    border-radius: 15px 15px 15px 15px;
}

.caja3 img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;

}

.caja3 h3{
    display: flex;
    justify-content: center;
    font-size: 40px
}

.caja3 p{
    font-size: 27px;
    font-weight: 700;
}
