/* Reseteo los margenes */
* {
    box-sizing: border-box; /* para que te tome el tamaño de la pantalla y no mas */
    margin : 0;
    padding :0;
}

/* Body */
body {
    background-color: hsl(35, 100%, 64%, 0.3);
    font-family: 'Amatic SC', cursive;
    color: black;
}

/* Las listas */
ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

p{
    font-size:50px
}


/* Contenedor de todo */
.contenedor {
    width: 90%;
    margin: auto;
    background-color: hsl(35, 100%, 77%, 0.3);
}

/* Header */
.cabezera {
    width: 100%;
    height: 300px;
    background-color: hsl(35, 92%, 51%, 0.8);
    display: flex;
    align-items: center; /* mete en el medio vertical */
    justify-content: center; /* mete en el medio horizontal */
}

.cabezera-nombrePagina {
    width: 80%;
    height: 100%;
    background-image: url(../media/img/Foto-Portada.png);
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

/* Barra de navegación */
.barraNav{
    width: 100%;
    background-color: #ffcf8c;
    border: 1px solid #fff;
    border-radius: 0px 0px 10px 10px;
    
}

.barraNav-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Cuando baja el scroll los 200px del header */
.bajar{
    position: fixed;
    width: 90%;
    transform: translateY(-300px);
    transition: 1ms;
    background-color:  hsl(35, 92%, 51%, 0.9);
    border: 0px solid #fff;

}

.bajar .barraNav-main i{
    font-size: 40px;
    margin-left: 20px;
    color: #ffcf8c;
}

.bajar .barraNav-main a i:hover{
    color: hsl(35, 100%, 77%, 0.5)
}

.bajar .barraNav-main ul li a{
    font-size: 30px;
}

.bajar .barraNav-main ul li a:hover{
    color: #ffcf8c;

}

.barraNav-main i{
    font-size: 40px;
    margin-left: 20px;
    color: #f5950e;
}

.barraNav-main a i:hover{
    color:hsl(35, 92%, 51%, 0.5)
}

.barraNav-main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraNav-main ul li{
    margin: 20px;
    margin-right: 20px;
    border-left: 1px solid black;
}

.barraNav-main ul li a{
    font-size: 30px;
}

.barraNav-main ul li a:hover{
    color: #f5950e;
}

.barraNav-main ul li i{
    margin-left:10px;
    margin-right: 10px;
    font-size: 30px;
}

/* Contenido de inicio */

/* Oferta 1 */
.contenido-inicio-fondo {
    background-image: url(../media/img/mily-recortada.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: top;
}

.contenido-inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: hsl(301, 27%, 46%, 0.5);
    background: linear-gradient(to left, rgba(149, 86, 148, 0.8), rgba(149, 86, 148, 0.3));
}

.contenido-inicio-texto{
    margin: 200px
}

.contenido-inicio h3{
    font-size: 4rem;
    margin-left: 150px;
    color: white;
}

.contenido-inicio p {
    font-size: 40px;
    color: white;
}

.compra-oferta {
    display: flex;
    justify-content: center;
}

.contenido-inicio a {
    font-size: 20px;
    color:white;
    border: 1px solid white;
    border-radius: 7px 7px 7px 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.compra-oferta a:hover{
    background-color: white;
    color: black;
}

.contenido-inicio img{
    height: 400px;
    margin-right: 200px;
}

/* Oferta 2 */
.contenido-inicio-fondo-2 {
    background-image: url(../media/img/lu-pensando-433x577.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
}

.contenido-inicio-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: hsl(301, 27%, 46%, 0.5);
    background: linear-gradient(to right, hsl(330, 53%, 47%), hsl(330, 53%, 47%, 0.4));
}

.contenido-inicio-texto-2{
    margin: 200px
}

.contenido-inicio-2 h3{
    font-size: 4rem;
    margin-left: 150px;
    color: white;
}

.contenido-inicio-2 p {
    font-size: 40px;
    color: white;
}

.contenido-inicio-2 a {
    font-size: 20px;
    color:white;
    border: 1px solid white;
    border-radius: 7px 7px 7px 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.contenido-inicio-2 img{
    height: 300px;
    margin-left: 200px;
}
